/*Sian*/
@media screen and (max-width: 980px) and (min-width: 701px) {
#wrapper {
width: 90%;
}
#content {
width: 60%;
}
#navbar {
width: 30%;
}
}

/*Sian*/
h1 {
	padding: 75px;
}

/*Sian*/
#energy {
	padding: 10px;
	text-align: center;
}

/*Sian*/
#topdiv {
	background-color: DarkSeaGreen;
	width: 1350px;
	height: 200px;
	padding: 0px;
	margin: 0px;
}

/*Sian*/
#oildrill {
	height: 350px;
	width: 350px;
	position: center;
	margin-left: 380px;
}

/*Sian*/
#coal {
	height: 350px;
	width: 350px;
	position: center;
}

/*Sian*/
#powerplant {
	height: 350px;
	width: 350px;
	padding-top: 10px;
	position: center;
	margin-left: 380px;
}

/*Sian*/
#gas {
	height: 350px;
	width: 350px;
	padding-top: 10px;
	position: center;
}

/*Sian*/
#solar {
	height: 350px;
	width: 350px;
	position: center;
	margin-left: 380px;
}

/*Sian*/
#turbines {
	height: 350px;
	width: 350px;
	position: center;
}

/*Sian*/
#electric {
	height: 350px;
	width: 350px;
	padding-top: 10px;
	position: center;
	margin-left: 380px;
}

/*Sian*/
#dam {
	height: 350px;
	width: 350px;
	padding-top: 10px;
	position: center;
}

/*Sian*/
#graph {
	height: 200px:
}
