/*Sian*/
@media screen and (max-width: 980px) and (min-width: 701px) {
#wrapper {
width: 90%;
}
#content {
width: 60%;
}
#navbar {
width: 30%;
}
}

/*Sian*/
#topdiv {
	background-color: DarkSeaGreen;
	width: 1350px;
	height: 200px;
	padding: 0px;
	margin: 0px;
}
/*Top Images*/
/*Sian*/
h1 {
	padding: 75px;
	text-align: center;
}

#oildrill {
	margin-left: 20%;
}

#powerplant {
	padding-top: 10px;
	margin-left: 20%;
}

#gas {
	padding-top: 10px;
}
/*Bottom Images*/
#solar {
	float: center;
	margin-left: 20%;
}

#turbines {

}

#electric {
	padding-top: 10px;
	margin-left: 20%;
}

#dam {
	padding-top: 10px;
}